<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Incomes</title>

  <!-- Boostrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
  table, th, td {
    border:1px solid black;
  }
</style>
<body>
  <h1>Incomes</h1>
  <p>Here you can insert, update, and delete incomes from the database.
    You can also view all the income records from the database.
    Click on the respective links below to get started.</p>

  <!-- Income Table -->
  <h3>Income Table</h3>
  <table style="width: 100%">
    <tr>
      <th>ID</th>
      <th>Income</th>
      <th>Amount</th>
      <th>Category</th>
    </tr>

    <!-- Displaying all income records -->
    {% for record in incomes %}
      <tr>
        <td> {{ record[0] }}</td>
        <td> {{ record[1] }}</td>
        <td> {{ record[2] }}</td>
        <td> {{ record[3] }}</td>
        <td><a class="btn btn-success" href="{{ url_for('update_income',income_record=record) }}">Update</a></td>
        <td><a class="btn btn-danger">Delete</a> </td>

      </tr>
    {% endfor %}
  </table><br>

  <a class="btn-btn-primary" href="{{ url_for('insert_income') }}"><h3>Add Income</h3></a>


  {% block content %}

  {% endblock %}



</body>
</html>