{% extends "incomes.html" %}
{% block content %}
  <title>Update Income</title>

  <div class="content-section">
    <p>To update the income record, simply change the original values in the textbox or leave them if you
    do not wish to change the values. Click the update button once you are satisfied with the changes. </p>

    <form method="POST">
      <!-- Income Name -->
      <label>Income Name:</label>
      <input name="name" placeholder="Enter your income name" value="{{ income_record[1] }}" required><br/>

      <!-- Income Amount -->
      <label>Income Amount:</label>
      <input type="number" min="0" name="amount" placeholder="Enter your income amount" value="{{ income_record[2] }}" required><br/>

      <!-- Income Category -->
      <label>Income Category:</label>
      <input name="category" placeholder="Enter your income category" value="{{ income_record[3] }}" required><br/>

      <input class="btn btn-primary" type="submit" value="Update"><br/>
    </form>
  </div>
{% endblock %}